* {
background-color: #f1faee; 
}

 header, header * {
    background-color: #457b9d;
    color: black;
    text-decoration: none;
}

.mainHeader li a {
    position: relative;
    margin: 10px 10px 10px 10px;
    font-size: 25px;
  }
  
  .mainHeader a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 5px;
    bottom: 0;
    left: 0;
    background-color: #fcbf49;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s ease;
  }
  
  .mainHeader li a:hover::before {
    transform: scaleX(1);
    transform-origin: bottom left;
  }


.card {
    margin: 10px 10px 10px 10px;
}

.card-header, .card-header *,
.modal-header, .modal-header * {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 0px 0px 0px;
    background-color: #457b9d;
}

.card-body, .card-body * {
    background-color: white;
}

.card-footer,
.modal-footer {
    background-color: #5193bd;
    color: white;
    margin: 0px 0px 0px 0px;
    align-items: center;
    text-align: center;
}

.btn-primary {
    color: black;
    background-color: #fcbf49;
    border-color: #c0902f;
    line-height: 0.5;
}
.btn-secondary {
    line-height: 0.5;
}
.btn-danger {
    color: white;
    background-color: #da3030;
    border-color: #962121;
    line-height: 0.5;
}



form, .form.login-form, .form-floating, .modal-body {
    background-color: white;
}

.form-floating>label {
    background-color: #ffffff00;
}

  .cardContainer {
    display: flex;
    flex-direction: column-reverse;
  }